* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
button,
input,
textarea,
select {
  font-family: "MyFont";
  font-size: inherit;
}

:root {
  --PRIMARY-COLOR: #ed7d31;
  --SECONDARY-COLOR: #4f4a45;
  --WHITE-SHADE: #f6f1ee;
}

@font-face {
  font-family: "MyFont";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  background-color: var(--WHITE-SHADE);
  font-family: "MyFont";
  font-size: 20px;
}

.wrapping-ctn {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--PRIMARY-COLOR);
  height: 100vh;
}

.sidebar-header,
.sidebar-inbox,
.sidebar-today,
.sidebar-myProjects {
  display: flex;
}

/* DISPLAY CONTAINER  */

.display-ctn {
  width: 900px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

/* Inside Display Ctn > project-todos-ctn section starts */
.project-todos-ctn {
  display: flex;
  flex-direction: column;
}

.task-card {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 25px 1fr max-content;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.task-additionals {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notes {
  display: flex;
  align-items: center;
}

.priority {
  display: flex;
  align-items: center;
}

.task-dueDate {
  display: flex;
  align-items: center;
}

.task-card > .task-operation {
  align-self: center;
  display: flex;
  padding: 10px;
  gap: 20px;
}

/* Inside Display Ctn > project-todos-ctn section ends */

/* Inside Display Ctn > project-addTask section starts */

.project-addTask {
  display: flex;
}

/* Inside Display Ctn > project-addTask section ends */

/* ADD TASK FORM CTN */
.add-form {
  border: 2px solid var(--SECONDARY-COLOR);
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px;
  font-size: 16px;
}

.add-task-additionals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-additionals-sub-box1 {
  display: flex;
  align-items: center;
}

.add-new-note {
  display: flex;
}

.add-task-additionals-sub-box2 {
  display: flex;
  gap: 20px;
}

.add-task-name > input[type="text"] {
  width: 100%;
}

/* .add-task-description > input[type="text"] {
  width: 100%;
} */

.add-task-description > textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
}

.add-new-note {
  display: flex;
  align-items: center;
  border: 2px solid var(--SECONDARY-COLOR);
}
