* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
button,
input,
textarea,
select {
  font-family: "MyFont";
  font-size: inherit;
}

:root {
  --PRIMARY-COLOR: #ed7d31;
  --SECONDARY-COLOR: #4f4a45;
  --WHITE-SHADE: #f6f1ee;
}

@font-face {
  font-family: "MyFont";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  background-color: var(--WHITE-SHADE);
  font-family: "MyFont";
  font-size: 20px;
}

.wrapping-ctn {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--PRIMARY-COLOR);
  height: 100vh;
  padding: 15px;
  gap: 10px;
}

.sidebar-header {
  margin-bottom: 15px;
}

.sidebar-header,
.sidebar-inbox,
.sidebar-today {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-myProjects {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-myProjects > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar img {
  border-radius: 50%;
}

.myProjects-content {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.project-card {
  display: flex;
  justify-content: space-between;
}

.sidebar-createProject {
  display: flex;
  justify-content: center;
  border: 2px solid var(--SECONDARY-COLOR);
  border-radius: 5px;
}

/* DISPLAY CONTAINER  */

.display-ctn {
  width: 900px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}

.project-title {
  margin-bottom: 20px;
}

/* Inside Display Ctn > task card section starts */
.task-card {
  border: 2px solid var(--SECONDARY-COLOR);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 25px 1fr max-content;
  padding: 10px 5px;
}

.task-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
}

.task-additionals {
  display: flex;
  align-items: center;
  gap: 20px;
}

.priority {
  display: flex;
  align-items: center;
}

.task-dueDate {
  display: flex;
  align-items: center;
}

.task-card > .task-operation {
  align-self: center;
  display: flex;
  padding: 10px;
  gap: 20px;
}

/* Inside Display Ctn > project-todos-ctn section ends */

/* Inside Display Ctn > project-addTask section starts */

.project-addTask {
  display: flex;
  align-items: center;
  border: 2px solid var(--SECONDARY-COLOR);
  border-radius: 5px;
}

/* Inside Display Ctn > project-addTask section ends */

/* ADD TASK FORM CTN */
.add-form {
  border: 2px solid var(--SECONDARY-COLOR);
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px;
  font-size: 16px;
  gap: 10px;
}

.add-task-additionals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-additionals > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-task-name > input[type="text"] {
  width: 100%;
}

.add-task-description > textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
}

.form-cancel-btn,
.form-add-btn,
.mod-form-cancel-btn,
.mod-form-add-btn,
.form-setPriority {
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  border: 2px solid var(--SECONDARY-COLOR);
}

.form-setDueDate > input {
  padding: 4px;
}

.form-cancel-btn,
.mod-form-cancel-btn {
  background-color: var(--PRIMARY-COLOR);
}

.hide {
  display: none;
}
